@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobsterregular-webfont.eot');
    src: url('../fonts/lobsterregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobsterregular-webfont.woff2') format('woff2'),
         url('../fonts/lobsterregular-webfont.woff') format('woff'),
         url('../fonts/lobsterregular-webfont.ttf') format('truetype'),
         url('../fonts/lobsterregular-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
	max-width: 100%;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
input, button, textarea, select{
    outline: none;
}
/* General settings */
/* DEFAULTS STYLE */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	width: 1280px;
	padding: 0 10px;
	margin: 0 auto;
}
.vertical-align::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -5px;
}
.vertical-align > *{
	display: inline-block;
	vertical-align: middle;
}

.form-control{
	width: 340px;
	background: #fff;
	height: 34px;
	color:#5a5959;
	font-size: 14px;
	padding-left: 14px;

}
.form-control:focus{
	border-color: #bc2336;
}


::-webkit-input-placeholder {color:#5a5959;}
::-moz-placeholder          {color:#5a5959;}/ Firefox 19+ /
:-moz-placeholder           {color:#5a5959;}/ Firefox 18- /
:-ms-input-placeholder      {color:#5a5959;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* HEADER START */
.header{
	height: 116px;
	padding:10px;
	background: #fff;
	position: fixed;
	top:  0;
	left:  0;
	right: 0;
	z-index: 999;
}
.logo{
	float: left;
}

.header-nav{
	float: left;
    position: relative;
    margin:33px 0 0 230px;
}
.header-nav li{
	float: left;
	margin: 0 10px;
}
.header-nav li a{
	font-size: 18px;
}
.header-nav li a:hover{
	color: #bc2336;
}
.icon-nav {
    float: left;
	margin: 33px 0 0 55px;
}
.icon-nav li{
	float: left;
}
.icon-nav li + li{
	margin-left: 34px;
}
.icon-nav li a{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/sprite-ic.png') no-repeat;
}
.icon-nav li a.vk{
	background-position: -24px -48px;
}
.icon-nav li a.vk:hover{
	 background-position: -24px -24px;
}
.icon-nav li a.twitter{
	background-position: 0px -48px;
}
.icon-nav li a.twitter:hover{
	background-position: 0px -24px;
}
.icon-nav li a.google{
	background-position: 0px 0px;
}
.icon-nav li a.google:hover{
	 background-position: -24px 0px;
}
/* MAIN START */
.call-to-action h1{
	font-size: 60px;
	color: #fff;
	padding-bottom: 27px;
	font-family:'lobster_1.4regular';
}
.call-to-action p{
    font-size: 20px;
    color: #fff;	
    padding-bottom: 27px;
}
.call-to-action{
	background: url(../img/inner-bg.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 116px;
    text-align: center;
}
.call-to-action .btn{
	border: 3px solid #bc2336;
	color: #fff;
	font-size: 24px;
	padding: 12px 103px;
    display: inline-block;
}
.about-us{
	margin-top: 53px;
}
.about-us h4{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    font-family:'lobster_1.4regular';
}
.about-us p{
	font-size: 20px;
    text-align: center;
    padding-left: 135px;
    padding-right: 150px;
}
.services-wrap{
	font-size: 0;
	padding-top: 60px;
}
.service{
	display: inline-block;
	width: 33.3333%;
	padding: 0 10px;
	position: relative;
	margin-bottom: 30px;
}
.service-text{
	width: 206px;
	height: 206px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .85);
	position: absolute;
	top: 50%;
	margin-top: -103px;
	left: 50%;
	margin-left: -103px;
	text-align: center;
}
.service-text a{
	display: inline-block;
	width: 197px;
	height: 197px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: #000;
	margin-left: 4px;
    border: 3px solid transparent;
}
.service-text a:hover{
	border-color: #bc2336;
	color: #bc2336;
}
/*MAIN END*/
/*FUTER START*/
.footer{
	height: 245px;
	background: #000;
	position: relative;
}	
.footer  h4{
	color:#fff;
	font-size: 24px;
	padding-top: 30px;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 30px;
    font-family:'lobster_1.4regular';
}
.footer span{
	color:#fff;
	margin-top: 7px;
	display: block;
	text-align: center;
}
.icon-footer{
	margin-top:30px;
	text-align:center;
}
.icon-footer li{
	display: inline-block;
}
.icon-footer li + li{
	margin-left: 34px;
}
.icon-footer li a{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/sprite-footer.png') no-repeat;
}
.icon-footer li a.footer-vk{
	background-position: 0px -24px;
}
.icon-footer li a.footer-vk:hover{
	 background-position: -24px -48px;
}
.icon-footer li a.footer-twitter{
	 background-position: -24px 0px;
}
.icon-footer li a.footer-twitter:hover{
	background-position: 0px -48px;
}
.icon-footer li a.footer-google{
	background-position: 0px 0px;
}
.icon-footer li a.footer-google:hover{
	background-position: -24px -24px;
}
/*MODAL STYLE*/
.modal{
	display: none;
	background: #fff;
	width: 755px;
	min-height: 405px;
	padding: 20px;
}
.modal p{
	text-align: center;
    font-size: 24px;
}
.modal h1{
	text-align: center;
    font-size: 24px;
    margin: 13px 0 34px 0;
    font-family:'lobster_1.4regular';
}
.close{
	width: 42px;
	height: 42px;
	background: url('../img/close.png');
	position: absolute;
	top: 8px;
	right: 10px;
}
.submit{
	position: absolute;
	right: 308px;
	bottom: 23px;
	height: 45px;
	width: 134px;
	background: #bc2336;
	color: #fff;
	font-size: 18px;
	border: none;
}
input[name="userEmail"]{
	margin-top: 31px;
}
input[name="userPhone"]{
	margin-top: 31px;
}
textarea[name="userComment"]{
	width: 340px;
 	height: 99px;
	margin-top: 31px;
	resize: none;
	float: right;
}
.slicknav_menu{
	display:none;
}
/*MEDIA*/
@media(max-width: 1300px){
   .container{
   	width: 1156px;
   }
   .header-nav{
   margin: 30px 0 0 84px;
   }
}
@media(max-width: 1172px){
   .container{
   	width: 950px;
   }
 /*  .icon-nav{
   margin: -60px 0 0 824px;
}*/
   .header-nav{
   	margin: 42px 0 0 67px;
   }
    .icon-nav li + li{
	margin-left: 7px;
}
    .service-text{
    width: 197px;
    height: 194px;
    margin-top: -96px;
 }
} 
@media(max-width: 949px){
	/*.icon-nav {
	margin: 41px 0 0 618px;
}*/
   .container{
   	width: 100%;
   }
   	.slicknav_menu{
	display:block;
	float: right;
    margin-top: 30px;
   }
   .header-nav{
   	display: none;
   }
}
@media(max-width: 767px){
	.service{ 
		width:50%;
	 }
	 /*.icon-nav{
	 	margin: -57px 0 0 539px;
	 }
*/}
@media(max-width: 599px){
	.call-to-action{
	    height:500px;
	 }
	 .service{
	 	width: 100%;
	 }
	 .service img{
	 	width:100%;
	 }
	 /*.icon-nav{
	 	margin: 40px 0 0 250px;
	 }
*/     .service-text{
     	width: 199px;
        height: 189px;
        margin-top: -95px;

     }
     .about-us p{
     	padding-left: 0;
        padding-right: 0;
        font-size: 11px; 
     }
     .about-us h4{
     	margin-bottom: 20px;
     }
     .call-to-action .btn{
     	padding: 12px 36px;
     }
}          
@media(max-width: 479px){
     .icon-nav{
     	margin: 20px 0 0 22px;
    /*margin: 42px 0 0 172px;*/
     }
	 .icon-nav li + li{
	margin-left: 15px;
     }

}

   