body {
	margin: 0 auto;
	color: #000;
	width: 770px;
	background: #fff;
	font: 12px/14px  verdana, arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
/* General settings */
/* HEADER STAR */
.wrapper{
	background: url(../img/sidebar-bg.png) repeat-y;
}
.header{
	height: 234px;
	background: url(../img/header-bg1.png) no-repeat;
	padding-bottom: 11px;
	position: relative;
}
.header .slogan {
	float: right;
    margin: 97px 55px 0 43px;
    font-size: 36px;
    font-family:Trebuchet MS;
    color: #fff;
}
.header .slogan  span {
	font-weight:600;
}
.header-nav{
	float: right;
	margin-top: 6px;
}
.header-nav li{
	float: left;
	margin: 0 22px;
}
.header-nav li a{
	font-weight: bold;
	font-size: 10px;
	color: #333;
}
.header-nav li a:hover{
	color: #4e7fc4;
}
.icon-nav{
	position: absolute;
	bottom: 50px;
	right: 154px;
}
.icon-nav li{
	float: left;
}
.icon-nav li + li{
	margin-left: 27px;
}
.icon-nav li a{
	display: inline-block;
	width: 11px;
	background: url('../img/sprite-ic.png') no-repeat;
}
.icon-nav li a.busket{
	width: 14px;
	height: 9px;
	background-position: 0px -9px;
}
.icon-nav li a.busket:hover{
	background-position: 0px 0px;
}
.icon-nav li a.mail{
	height: 8px;
	background-position: 0px -46px;
}
.icon-nav li a.mail:hover{
	background-position: 0px -38px;
}
.icon-nav li a.home{
	height: 10px;
	background-position: 0px -28px;
}
.icon-nav li a.home:hover{
	background-position: 0px -18px;
}
.icon-nav li a.search{
	height: 11px;
	background-position: 0px -65px;
}
.icon-nav li a.search:hover{
	background-position: 0px -54px;	
}
/*HEADER END*/
/*MAIN START*/
.main{
	overflow: hidden;	
}
.content{
	width: 530px;
	float: left;
	padding-right: 22px;
	font-size: 10px;
	line-height: 12px;	
}
.text+.text{
	margin-top: 45px;
}
.text h1{
	font-size: 12px;
	font-weight: bold; 
	color: #5590cb;
	margin: 20px 0;
}
.text p+p{
	margin-top: 15px;
}
.text a{
	color: #5590cb;
	font-weight: bold;
	font-size: 13px; 
	margin-top: 10px;
	float: right;
}
.sidebar{
	width: 155px;
	float: left;
	padding: 40px 38px 0 0;
}
.sidebar ul{
	margin-bottom: 85px;	
}
.sidebar  ul  li {
	background:url('../img/menu-bg.png') center center no-repeat;
}
.sidebar  ul  li  a {
	padding:6px 3px 3px 25px;
}
.sidebar li+li{
    margin-top: 2px;
}
.sidebar li a{
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
    color: #fff; 	
}
.sidebar ul li:first-child a:hover{
	color: #003366;
}
.paragraf h1{
	color: #fff;
	font-size: 12px;
	margin-bottom: 18px;
	padding-left: 25px;
}
.paragraf p{
	font-size: 10px;
	line-height: 12px;
	padding-left: 25px;
}
/*MAIN END*/
/*FUTER START*/
.footer{
	height: 48px;
	background: url(../img/footer-bg.png);
	clear: both;
}
.footer span{
	font-size: 10px; 
	margin: 30px 20px 0 0;
	color: #fff;
	float: right;
}



